{% extends "default.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card influencer-profile-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                            <div class="text-center">
                                <img src="{{ project.logo.url }}" alt="User Avatar"
                                     class="card-img-top img-fluid "
                                     style="object-fit: cover; max-height: 130px; min-height: 130px;">
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                            <h2 style="margin: 0px; padding: 0px; display: inline-block">{{ project.title }}</h2>
                            <a href="/projects/edit/{{ project.slug }}"
                               class="btn btn-primary btn-xs float-right">Edit</a>
                            <br>
                            <p class="pt-2 mb-0">{{ project.description }}</p>
                            <p style="border-bottom: 1px solid #d2d2e4; margin-bottom: 4px;"></p>
                            <div class="row">


                                <div class="col justify-content">
                                    <div>
                                        <a class="btn-account" style="width: -moz-fit-content;"
                                           href="users/{{ project.creator.username }}" role="button">


                <span class="user-avatar mr-0" >
                    <img alt="User Avatar" class="user-avatar-lg rounded-circle" style="margin-bottom: -9px;"
                         src="{{ project.creator.avatar.url }}">
                 </span>
                                            <div class="account-summary">
                                                <h6 style="margin-bottom: 0px;">
                                                    Created {{ project.created|date:"d F Y" }}
                                                    by:</h6>

                                                <span class="account-description">{{ project.creator.username }}</span>
                                                <h5 class="account-name">{{ project.creator.first_name }}
                                                    {{ project.creator.last_name }}</h5>
                                                <h6 class="account-name">{{ project.creator.position }}</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                  <div class="col justify-content">
                                    dsdsdsadsadsadas
                                </div>







                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">

    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">

            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="card-header-title">Tasks:</h4>


                    </div>
                    <div class="col">
                        <a href="/tasks/add/{{ task.slug }}" class="btn btn-primary btn-xs float-right">Create new
                            task</a>

                    </div>

                </div>


            </div>
            <div class="card-body p-2">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="task-table" style="width:100%">
                        <thead class="bg-light">
                        <tr class="border-0">
                            <th class="border-0">#</th>
                            <th class="border-0">Title</th>
                            <th class="border-0">Kind</th>
                            <th class="border-0">Status</th>
                            <th class="border-0">Priority</th>
                            <th class="border-0">Executor</th>
                            <th class="border-0">Deadline</th>
                            <th class="border-0">Edit</th>


                        </tr>
                        </thead>
                        <tbody>

                        {% for task in project.project_tasks.all %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td><a href="/tasks/view/{{ task.slug }}/"> {{ task.title }}</a></td>
                                <td>{{ task.kind }} </td>
                                <td> {% if task.status == "TO-DO" %}
                                    <span class="badge badge-info float-left">{{ task.get_status_display }}</span>
                                {% elif task.status == "IN-PROGRESS" %}
                                    <span class="badge badge-primary float-left">{{ task.get_status_display }}</span>

                                {% elif task.status == "DONE" %}
                                    <span class="badge badge-success float-left">{{ task.get_status_display }}</span>
                                {% elif task.status == "CLOSED" %}
                                    <span class="badge badge-dark float-left">{{ task.get_status_display }}</span>

                                {% endif %}
                                </td>
                                <td>
                                    <small>{% if task.priority == "NORMAL" %}
                                        <span class="float-left" style="padding-left: 10px;"><span
                                                class="badge-dot badge-primary"></span>{{ task.priority }}</span>
                                    {% elif task.priority == "HIGH" %}
                                        <span class="float-left" style="padding-left: 10px;"><span
                                                class="badge-dot badge-warning"></span>{{ task.priority }}</span>
                                    {% elif task.priority == "URGENT" %}
                                        <span class="float-left" style="padding-left: 10px;"><span
                                                class="badge-dot badge-danger"></span>{{ task.priority }}</span>
                                    {% elif task.priority == "LOW" %}
                                        <span class="float-left" style="padding-left: 10px;"><span
                                                class="badge-dot badge-success"></span>{{ task.priority }}</span>
                                    {% endif %}</small>
                                </td>
                                <td>{{ task.executor }}</td>
                                <td>{{ task.deadline }}</td>
                                <td><a href="/tasks/edit/{{ task.slug }}/" class="btn btn-primary btn-xs">Edit</a></td>

                            </tr>



                        {% endfor %}


                        </tbody>
                    </table>
                    <!--  <nav aria-label="Page navigation example">
                          <ul class="pagination">
                              <li class="page-item" data-page="prev"><a class="page-link" href="#">Previous</a></li>

                              <li class="page-item" data-page="next" id="next"><a class="page-link" href="#">Next</a></li>

                          </ul>
                      </nav>-->
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="card-header-title">{{ project.title }}</h4>


                    </div>
                    <div class="col">
                        <a href="/projects/edit/{{ project.slug }}" class="btn btn-primary btn-xs float-right">Edit</a>

                    </div>

                </div>
                <div class="card-body ">
                    <div class="row">
                        <img alt="..." class="card-img-top img-fluid "
                             src="{{ project.logo.url }}"
                             style="object-fit: cover; max-height: 130px; min-height: 130px;">
                    </div>


                </div>
                <div class="card-body" style="overflow: hidden;">
                    <div class="card-text">{{ project.description }}</div>

                </div>


                <div class="card-footer">

                    <div class="row">

                        <div class="col justify-content-center">
                            <div>
                                <a class="btn-account" style="width: -moz-fit-content;"
                                   href="users/{{ project.creator.username }}" role="button">


                <span class="user-avatar">
                    <img alt="User Avatar" class="user-avatar-lg rounded-circle" style="margin-bottom: -9px;"
                         src="{{ project.creator.avatar.url }}">
                 </span>
                                    <div class="account-summary">
                                        <h6 style="margin-bottom: 0px;">Created {{ project.created|date:"d F Y" }}
                                            by:</h6>

                                        <span class="account-description">{{ project.creator.username }}</span>
                                        <h5 class="account-name">{{ project.creator.first_name }}
                                            {{ project.creator.last_name }}</h5>
                                        <h6 class="account-name">{{ project.creator.position }}</h6>
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>


    </div>




{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#task-table').DataTable({"lengthChange": false});
        });

        //getPagination('#task-table')  ;

        function getPagination(table) {

            var page_size = 10;
            var total_rows = $(table + ' tbody tr').length;
            var tr_num_counter = 0;
            var last_page = 1;


            if (page_size >= total_rows) {

                $('.pagination').hide();
            } else {

                $('.pagination').show();
            }


            $(table + ' tr:gt(0)').each(function () {

                tr_num_counter++;
                console.log('dsdas');
                if (tr_num_counter > page_size) {

                    $(this).hide();
                }
                if (tr_num_counter <= page_size) {
                    $(this).show();
                }

                var trIndex = 0;
                console.log('sadas')
                $('.pagination li').removeClass('active');


            });


            if (total_rows > page_size) {
                var page_num = Math.ceil(total_rows / page_size);

                var i = 1;
                while (i <= page_num) {
                    console.log(i)
                    $('.pagination #next').before("<li class=\"page-item\" data-page=" + i + " ><a class=\"page-link\" href=\"#\" >" + i + "</a></li>").show();
                    i++;
                }

            }
            $('.pagination [data-page="1"]').addClass('active');

            $('.pagination li').on('click', function (evt) {
                evt.stopImmediatePropagation();
                evt.preventDefault();
                var page_number = $(this).attr('data-page');	// get it's number
                if (page_number == "prev") {
                    if (last_page == 1) {
                        return;
                    }
                    page_number = --last_page;
                }
                if (page_number == "next") {
                    if (last_page == ($('.pagination li').length - 2)) {
                        return;
                    }
                    page_number = ++last_page;
                }


                last_page = page_number;

                var trIndex = 0;
                $('.pagination li').removeClass('active');
                $('.pagination [data-page="' + last_page + '"]').addClass('active');
                $(table + ' tr:gt(0)').each(function () {
                    trIndex++;

                    if (trIndex > (page_size * page_number) || trIndex <= ((page_size * page_number) - page_size)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });


            });


        }


    </script>
{% endblock %}
