{% extends "default.html" %}
{% load widget_tweaks %}

{% block title %}Task project {{task.tittle}}{% endblock %}

{% block body %}


<div class="row justify-content-md-center">
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <form action="/tasks/edit/{{task.slug}}/" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                    {% endfor %}

                    {% for field in form.visible_fields %}


                    <div class="form-group">
                        <label for="{{field.id_for_label }}">{{field.label}}</label>
                        {% if field.field.widget.input_type == select %}
                        {% render_field field|add_error_class:"is-invalid" placeholder=field.label class="form-control form-control-md" attr="multiple:multiple" %}
                        {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        {% else %}
                        {% render_field field|add_error_class:"is-invalid" placeholder=field.label class="form-control form-control-md" %}
                        {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>

                    {% endif %}

                    {% endfor %}


                    <div class="form-group pt-2">
                        <button class="btn btn-block btn-primary" type="submit">Save project changes</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script%}
<script type="text/javascript">
    $('#id_users').multiSelect()

</script>
{% endblock%}

