{% extends "default.html" %}
{% load widget_tweaks %}

{% block title %}Tasks{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-auto">
            <div class="card">
                <div class="card-body" style="padding: 0.25rem;">
                    <form action="" method="get">
                        <div class="row justify-content-md-left">


                            {% for field in filter.form.visible_fields %}
                                <div class="col-md-auto"
                                     style="display: flex; padding-top: 0.25rem; padding-bottom: 0.25rem; padding-right: 0px;">
                                    <label style="padding-top: 7px;">{{ field.label }}:</label>{% render_field field class="form-control" style="width: auto;" %}
                                </div>
                            {% endfor %}

                            <div class="col-md-auto"
                                 style="display: flex; padding-top: 0.25rem; padding-bottom: 0.25rem;">
                                <button class="btn btn-primary btn-sm" type="submit">Filter</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="row">

        {% for task in filter.qs %}


            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12" style="min-width:300px">
                <div class="card">
                    <div class="card-header" style="padding: 0;">
                        <span class="badge badge-success float-left">{{ task.get_status_display }}</span>

                        <span class="float-left" style="padding-left: 10px;"><span class="badge-dot badge-danger"></span>{{ task.get_priority_display }}</span>


                    </div>


                    <div class="card-body" style="padding-top: 0.25rem;">
                        <div class="row" style="">

                            <div class="col">
                                <small class="text-muted"><a href="/projects/{{ task.project.slug }}/"><i
                                        class="fas fa-server"></i>
                                    {{ task.project.title }}</a> /<a
                                        href="/tasks/{{ task.slug }}/"> <i class="fas fa-list"></i> task: {{ task.id }}
                                </a></small>
                                <span class="float-right"> <small>Feature<i class="fas fa-tag"></i></small> </span>
                            </div>

                        </div>


                        <div class="row" style="">

                            <div class="col">
                                <a href="/tasks/{{ task.title }}"><h5 class="card-title"><i
                                        class="fas fa-hashtag"></i>{{ task.title }}
                                </h5></a>
                            </div>

                        </div>


                    </div>

                    <hr style="margin: auto;">

                </div>
            </div>


        {% endfor %}
    </div>

{% endblock %}







<span class="badge badge-success float-right" style="background-color: #5889ff; margin: 0; white-space: nowrap;">Feature <i
        class="fas fa-tag"></i></span>
<span class="badge badge-success float-right" style="background-color: #5889ff; margin: 0; white-space: nowrap;">Bug <i
        class="fas fa-bug"></i></span>


<i class="fas fa-list"></i>


<span><i style="color: #fa0;" class="fas fa-circle"></i> HIGH </span>

<input class="btn btn-primary" type="submit" value="Submit"/>


<span class="badge badge-success">{{ task.get_status_display }}</span>


<div style="text-align: center;">
    <span class="badge badge-pill badge-warning">{{ task.priority }}</span>
</div>

<span class="badge badge-success float-right"
      style="padding-bottom: 2px; background-color: #5889ff; margin: 0; white-space: nowrap;">Feature <i
        class="fas fa-tag"></i></span>