{% extends "default.html" %}
{% load widget_tweaks %}

{% block title %}Tasks{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <div class="card">

            <form action="" method="get">




                {{filter.form}}
                <input type="submit"/>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card">
            {{filter.qs}}
            <select class="selectpicker">
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Relish</option>
</select>
        </div>
    </div>
</div>


{% for task in tasks %}


<div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12" style="min-width:300px">
    <div class="card">
        <div class="card-header" style="padding: 0;">
            <div class="row">

                <span class="badge badge-success">{{task.get_status_display}}</span>


                <div style="text-align: center;">
                    <span class="badge badge-pill badge-warning">{{task.priority}}</span>
                </div>

                <span class="badge badge-success float-right"
                      style="padding-bottom: 2px; background-color: #5889ff; margin: 0; white-space: nowrap;">Feature <i
                        class="fas fa-tag"></i></span>


            </div>


        </div>


        <div class="card-body" style="padding-top: 0.25rem;">
            <div class="row" style="">

                <div class="col">
                    <small class="text-muted"><a href="/projects/{{task.project.slug}}/"><i class="fas fa-server"></i>
                        {{task.project.title}}</a> /<a
                            href="/tasks/{{task.slug}}/"> <i class="fas fa-list"></i> task: {{task.id}}</a></small>
                </div>

            </div>


            <div class="row" style="">

                <div class="col">
                    <a href="/tasks/{{task.title}}"><h5 class="card-title"><i class="fas fa-hashtag"></i>{{task.title}}
                    </h5></a>
                </div>

            </div>


        </div>

        <hr style="margin: auto;">

    </div>
</div>


{% endfor %}

{% endblock %}


<span class="badge badge-success float-right" style="background-color: #5889ff; margin: 0; white-space: nowrap;">Feature <i
        class="fas fa-tag"></i></span>
<span class="badge badge-success float-right" style="background-color: #5889ff; margin: 0; white-space: nowrap;">Bug <i
        class="fas fa-bug"></i></span>


<i class="fas fa-list"></i>


<span><i style="color: #fa0;" class="fas fa-circle"></i> HIGH </span>
